
/*index*/

:root {
	--basic-white: #FFFFFF;
	--basic-blue: #81B3D2;
	--basic-white-blue: #EEEEEE;
	--basic-extra-light-blue: #EBEBEB
	--basic-light-blue: #F2F2F2;
	--basic-dark-blue: #669EC0;
	--basic-extra-blue: #5496BD;
	--basic-black: #000000;
	--basic-light-gray: #766357;
	--basic-gray: #333333;
	--basic-dark-gray: #604E43;
	--basic-extra-gray: #503E33;
}

body {
	min-width: 1280px;
	margin: 0;
	padding: 0;
	font-family: "PT-Sans";
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: var(--basic-gray);
	text-transform: uppercase;
	background-color: var(--basic-white);
	background-image:
		url("C:\Users\32112\Desktop\1459841-sedona-28\img\background photo.png"),
		url("C:\Users\32112\Desktop\1459841-sedona-28\img\background photo-1.png"),
		url("C:\Users\32112\Desktop\1459841-sedona-28\img\welcome.png");
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Header */

.site-navigation {
	list-style: none;
}

.site-navigation-current a:not([href]) {
	background-color: var(--basic-white);
}

.site-navigation a{
	color: var(--basic-black);
}

.site-navigation a:hover {
	color: var(--basic-blue);
}

.site-navigation a:focus {
	color: var(--basic-light-gray);
}

.site-navigation a:active{
	color: var(--basic-black);
	opacity: 0.3;
}


/* Main*/

.first-reason {
	background-color: var(--basic-blue);
	}

.first-reason h2 {
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-white)!important;
}

.first-reason span, .first-reason p {
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-white)!important;
}

.advantages ul {
	list-style: none;
}

.reason-item-descr {
	color: var(--basic-gray);
	font-size: 14px;
	line-height: 21px;
}

.more-reason h2 {
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
}

.more-reason span, .more-reason p {
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-gray);
}

.main-title {
	font-size: 21px;
	font-style: bold;
	text-align: center;
	line-height: 26px;
	color: var(--basic-black);
}

.main-descr {
	text-align: center;
	line-height: 26px;
}

.question-title {
	font-size: 30px;
	font-style: bold;
	text-align: center;
	line-height: 24px;
	color: var(--basic-black);
}

.question-descr {
	texalign: center;
	line-height: 26px;
}

/* Footer */

.main-footer {
	color: var(--basic-black);
	background-color: var(--basic-white);
	font: inherit;
}

.social-button {
	font-size: : 0;
}

.footer-social {
	text-align: center;
}

.main-footer a {
	color: var(--basic-black);
	text-decoration: none;
}

/* Modal */

fieldset {
	border: none;
}

.modal {
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.modal h2 {
	width: 568px;
	height: 86px;
	padding-top: 60px;
	background-color: var(--basic-light-gray);
	color: var(--basic-white);
	text-align: center;
	font-style: bold;
	font--size: 21px;
	line-height: 26px;
}

.modal h2:hover,
.modal h2:focus {
	background-color: var(--basic-dark-gray);
}

.modal h2:active {
	background-color: var(--basic-extra-gray);
}

button {
	font: inherit;
	color: var(--basic-white);
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}

.button-search {
	width: 458px;
	height: 58px;
	padding: 16px;
	margin: 30px;
	background-color: var(--basic-blue);
	border: none;
}

.button-search:hover,
.button-search:focus {
	background-color: var(--basic-dark-blue);
}

.button-search:active {
	background-color: var(--basic-extra-blue);
	border: none;
}

.modal input {
   	background-color: var(--basic-light-blue);
}

.modal input:hover {
	background-color: var(--basic-extra-light-blue);
}

.modal input:focus {
	background-color: var(--basic-white);
}

.calendar-icon {
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\calendar-1.svg");
	background-position: 326px center;
	background-repeat: no-repeat;
}

.calendar-icon:hover {
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\calendar-2.svg");
	background-position: 326px center;
	background-repeat: no-repeat;
}

.calendar-icon:active {
background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\calendar-3.svg");
	background-position: 326px center;
	background-repeat: no-repeat;
}

.amount-icon {
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\Rectangle.svg");
	background-position: 19px center,
	background-repeat: no-repeat;
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\Union.svg");
	background-position: 95px center,
	background-repeat: no-repeat;
}

.amount-icon:hover {
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\Rectangle1.svg"),
	background-position: 19px center,
	background-repeat: no-repeat;
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\Union1.svg");
	background-position: 95px center,
	background-repeat: no-repeat;
}

.amount-icon:active {
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\Rectangle2.svg"),
	background-position: 19px center,
	background-repeat: no-repeat;
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\Union2.svg");
	background-position: 95px center,
	background-repeat: no-repeat;
}

/*inner*/

.body-inner {
	min-width: 1280px;
	margin: 0;
	padding: 0;
	font-family: "PT-Sans";
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: var(--basic-gray);
	text-transform: uppercase;
	background-color: var(--basic-white);
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\background_inner.png");
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

/* Header */

.site-navigation {
	list-style: none;
}
.site-navigation-current a:not([href]) {
	background-color: var(--basic-white);
}

.site-navigation a{
	color: var(--basic-black);
}

.site-navigation a:hover {
	color: var(--basic-blue);
}

.site-navigation a:focus {
	color: var(--basic-light-gray);
}

.site-navigation a:active{
	color: var(--basic-black);
	opacity: 0.3;
}


/* Main*/

h3 {
	font-size: 16px;
	line-height: 21px;
	color: var(--basic-white);
}

h3 label {
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-white);
}

input[type="checkbox"] {
  display: none;
 }

 input[type="checkbox"]+label {
  	background: url(checkbox-on.svg) no-repeat;
 	cursor: pointer;
 }

input[type="checkbox"]:checked+label {
	background: url(checkbox-off.svg) no-repeat;
}


 input [type="radio"] {
 	display: none;
 }

 .card-title {
 	font-size: 21px;
 	line-height: 26px;
 }

.button {
	font: inherit;
	color: var(--basic-white);
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}

.button-show {
	font-size: 14px;
	width: 137px;
	height: 36px;
	color: var(--basic-white);
	padding: 8px 36px;
	opacity: 0;
	border: 2px solid #D8D8D8;
}

.button-show:hover {
    color: var(--basic-black);
	opacity: 1;
	background-color: var(--basic-white)
	border: 2px solid #FFFFFF;
}

fieldset {
	border: none;
}

.price {
	color: var(--basic-blue);
	font-size: 12px;
	line-height: 18px;
}

.type {
	color: var(--basic-black);
	font-size: 12px;
	line-height: 18px;
	text-decoration: underline;
	text-decoration-color: var(--basic-blue);
	text-decoration-style: dotted;
}

.type:hover {
	color: var(----basic-blue);
	font-size: 12px;
	line-height: 18px;
	text-decoration: underline;
	text-decoration-color: var(--basic-blue);
	text-decoration-style: dotted;
}

.type:active {
	color: var(----basic-black);
	font-size: 12px;
	line-height: 18px;
}

.rating {
	color: var(--basic-black);
	font-size: 12px;
	line-height: 18px;
	text-decoration: underline;
	text-decoration-color: var(--basic-blue);
	text-decoration-style: dotted;
}

.rating:hover {
	color: var(----basic-blue);
	font-size: 12px;
	line-height: 18px;
	text-decoration: underline;
	text-decoration-color: var(--basic-blue);
	text-decoration-style: dotted;
}

.rating:active {
	color: var(----basic-black);
	font-size: 12px;
	line-height: 18px;
}

.button-more {
	font-size: 14px;
	width: 110px;
	height: 27px;
	margin-right: 6px;
	background-color: var(--basic-blue);
	border: none;
}

.button-more:hover {
	background-color: var(--basic-dark-blue);
}

.button-more:active {
	color: #C4C4C4;
	background-color: var(--basic-extra-blue);
};

.button-buy {
	width: 142px;
	height: 27px;
	background-color: var(--basic-light-gray);
	border: none;
}

.button-buy:hover {
		background-color: var(--basic-dark-gray);
}

.button-buy:active {
	background-color: var(--basic-extra-gray);
}

.icon-up-dir {
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\icon-up-dir.svg");
	background-position: 704px center;
	background-repeat: no-repeat;
}

.icon-up-dir {
	background-image: url("C:\Users\32112\Desktop\1459841-sedona-28\img\icon-down-dir.svg");
	background-position: 727px center;
	background-repeat: no-repeat;
}

/* Footer */

.main-footer {
	color: var(--basic-black);
	background-color: var(--basic-white);
	font: inherit;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.footer-social {
	text-align: center;
}

.main-footer a {
	color: var(--basic-black);
	text-decoration: none;
}




